.openingLoreContainer {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
}

.openingLoreContainer a {
  color: rgb(221, 221, 221);
}

.emphasized {
  font-weight: bold;
}

.openingLoreIntro {
  font-size: 20px;
  width: max(400px, 40%);
  background-color: rgb(12, 12, 12);
  padding: 30px;
  outline: 3px solid rgb(12, 12, 12);
  border: 1px dashed white;
  color: white;
}

.doneButton {
  background-color: white;
  margin-top: 50px;
  border: none;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}
