.openingLoreContainer {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.tooSmallContainer {
  display: none;
}

@media (width <= 900px) {
  .openingLoreContainer {
    display: none;
  }

  .tooSmallContainer {
    display: block;
  }
}

.openingLoreContainer a {
  color: rgb(221, 221, 221);
}

.emphasized {
  font-weight: bold;
}

.openingLoreIntro {
  font-size: 17px;
  width: min(800px, 90%);
  background-color: rgb(12, 12, 12);
  padding: clamp(15px, 1vw, 30px);
  outline: 3px solid rgb(12, 12, 12);
  border: 1px dashed white;
  color: white;
}

.doneButton {
  background-color: white;
  margin-top: 50px;
  border: none;
  font-size: 16px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}

.tooSmallBox {
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
}

.tooSmallTitle {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.tooSmallBody {
  margin-bottom: 10px;
  font-size: 17px;
}
