.messageScreenContainer {
  background-color: rgb(12, 12, 12);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.message {
  font-size: 24px;
  width: max(400px, 40%);
  background-color: white;
  padding: 30px;
  outline: 3px solid white;
  border: 2px dashed rgb(12, 12, 12);
  color: rgb(12, 12, 12);
}

.nextLevelButton {
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  width: 5vw;
  height: 5vw;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  color: white;
  top: calc((100vh - 5vw) / 2);
  right: 2vw;
}

.nextLevelButton:hover {
  background-color: white;
  color: rgb(12, 12, 12);
}

.nextLevelSymbol {
  font-size: 3vw;
}

.defaultMessageVisibility {
  opacity: 0;
  transition: opacity 3s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.defaultMessageVisibility.messageVisible {
  opacity: 1;
}
