.arena {
  position: absolute;
  background-color: white;
  min-width: 40vw;
  min-height: 40vw;
  left: calc((100vw - 40vw) / 2);
  top: calc((100vh - 40vw) / 2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 12px;
  border-radius: 0.5vw;
}
