.levelSelectContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(12, 12, 12);
  color: white;
}

.gameTitle {
  width: 100%;
  text-align: center;
  padding-top: 4vw;
}

.gameTitleText {
  font-size: 3vw;
  border-bottom: 0.25vw dashed white;
}

.levelsContainer {
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
}

.madeBy {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 2vw;
  color: gray;
  font-size: 0.8vw;
}

.madeBy a {
  color: rgb(164, 164, 164);
}

.backToSpiel {
  margin-top: 2vw;
  margin-left: 20%;
  margin-bottom: 1vw;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8vw;
}

.backToSpiel:hover {
  text-decoration: underline;
}
