.corner {
  width: 1vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0.23);
  position: absolute;
  border-radius: .5vw;
}

.top {
  top: -0.5vw;
}

.right {
  right: -0.5vw;
}

.bottom {
  bottom: -0.5vw;
}

.left {
  left: -0.5vw;
}
